@charset "UTF-8";


html, body{ height: 100%; margin: 0; padding: 0; }
html {font:normal 16px }
img {border: none; width: 100%;}
p, ul, li, ol, h1, h2, h3, h4, h5, h6, dl, dt, dd, em, figure {margin: 0; padding: 0;}



button{ width: 200px; height: 40px; font-size: 20px; margin: 40px;} 


.imgBox { width: 100px; padding-left: 45%;}

#inputFormBox div{ margin-top: 10px; }
#inputFormBox label{ margin-right : 10px; }